.container {
  background-color: #f2f8f7;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title > h1 {
  color: rgb(0, 0, 0);
  font-family: "Permanent Marker";
  margin: 5px;
  font-size: 4rem;
  font-weight: 300;
}

.title > p {
  color: black;
  font-family: "Roboto";
  margin: 10px;
  font-size: 1.2rem;
}

.register {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.register > p1 {
  background-color: #c182d0;
  color: rgb(0, 0, 0);
  font-family: "Permanent Marker";
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 150;
}

.register > p2 {
  background-color: #c182d0;
  color: rgb(0, 0, 0);
  font-family: "Permanent Marker";
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 150;
}
