.container {
  background-color: #f2f8f7;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title > h1 {
  color: rgb(0, 0, 0);
  font-family: "Permanent Marker";
  margin: 5px;
  font-size: 4rem;
  font-weight: 300;
}

.title > p {
  color: black;
  font-family: "Roboto";
  margin: 10px;
  font-size: 1.2rem;
}

.register {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.button {
  width: 180px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  background: #c182d0;
  color: rgb(0, 0, 0);
  font-family: "Permanent Marker";
  margin: 5px;
  border: none;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
  box-shadow: 0 5px 0 #b466c7;
}

.button:hover {
  background: #b466c7;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 0 #b542d0;
}

.button:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}
