.container {
  background-color: #f2f8f7;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title > h1 {
  color: rgb(0, 0, 0);
  font-family: "Permanent Marker";
  margin: 5px;
  font-size: 4rem;
  font-weight: 300;
}

.title > p {
  color: black;
  font-family: "Roboto";
  margin: 10px;
  font-size: 1.2rem;
}

.register {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 22rem;
  height: 5rem;
  border-radius: 5px;
  text-align: center;
  background: #c182d0;
  color: rgb(0, 0, 0);
  font-family: "Permanent Marker";
  margin: 5px;
  border: none;
  font-size: 2.5rem;
  font-weight: 200;
  cursor: pointer;
  box-shadow: 0 6px 0 #b466c7;
}

.button:hover {
  background: #b466c7;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 0 #b542d0;
  transition: all 0.3s ease-out;
}

.button:active {
  position: relative;
  top: 6px;
  box-shadow: none;
}

.caroussel {
  background-color: blue;
  height: 60vh;
  width: 40%;
  margin: 5vw 15vw 1vw 10vw;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coin {
  width: 25vw;
}
